body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.search-container {
    text-align: center;
    padding: 20px;
}

.search-bar {
    width: 70%;
    max-width: 800px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box;
}

.search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #45a049;
}

.product-card {
    display: flex;
    max-width: 1050px;
    margin: 20px auto;
    padding: 5px;
    background-color: #f1eeee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* min-height: 100px;
    border: 1px solid gray; */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;

    
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 60%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.product-image img {
    width: 60%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.product-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.product-details h3 {
    margin: 0;
    font-size: 22px;
    color: #296d33;
    margin-bottom: 10px;
    font-weight: bold;
}

.product-details p {
    margin-bottom: 13px;
    font-size: 16px;
    color: gray;

}

.product-price {
    color: #4CAF50;
    font-weight: bold;
}

.contact-button {
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align:center;
}

.contact-button:hover {
    background-color: #45a049;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: space-between; */
    
}

.flex-box {
    display: flex;
    width: 45%;
    max-width: 1550px;
    margin: 15px auto;
    
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f1eeee;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    min-height: 300px;
    /* border: 4px solid green; */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.flex-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.left {
    width: 40%;
    padding-right: 10px;
}

.flex-container .pro-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}


.right {
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
}

.product-id, .product-name, .product-description, .phone-number, .product-price {
    padding: 10px;
    font-size: 18px;
    margin-bottom: px;
}
.product-name{
    font-size:25px;
    color: green;
    font-weight: bold;
    margin-top: 5px;
}
.product-description{
    font-size:15px;
    color: gray;
    margin-top: 5px;
}
.title1{
    padding:1.2rem 1rem;
    text-align: center;
    background: linear-gradient(60deg, #296d33 0%, #79cf17 100%);;
    font-size: 2rem;
    text-transform: uppercase;
    color:white;
    margin-top: 0px;
    letter-spacing: 1px;
    font-weight: bold;
    
   
 }

 .title1 span{
    color:rgb(168, 255, 168);
 }


@media screen and (max-width: 600px) {
    .search-bar,
    .search-button {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .flex-box {
        width: 100%;
    }
}