@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
html{
    font-size: 10px;
    font-family:'Montserrat', sans-serif ;
	scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p{
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title{
	font-size: 4rem;
	font-weight: 350;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}

/*start fab*/
.fab-container {
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 1000;
	cursor: pointer;
}
.fab-icon-holder:hover{
	opacity: 0.8;
}
.fab {
	width: 60px;
	height: 60px;
}
/*end fab*/

/*start header*/
#header{
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header{
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .brand img{
    width: 100px;
	height: 60px;
	margin-top: 20px;
}
#header .nav-bar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul{
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active{
	left: 0%;
}
#header .nav-list ul a{
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after{
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a{
	color:yellowgreen;
}
#header .hamburger{
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after{
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar{
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after{
	top: 8px;
}
#header .hamburger .bar::before{
	bottom: 8px;
}
#header .hamburger.active .bar::before{
	bottom: 0;
}
#header .hamburger.active .bar::after{
	top: 0;
}
/*end header*/

/*start top*/
#top{
    background-image: url(./img/);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#top::after{
    content: '';
    position: absolute;
    opacity: .4;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -1;
	
}
#top h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
	float: left;
	margin-left: 150px;
	margin-top: 120px;
}
#top h2{
    display: block;
    width: fit-content;
    font-size: 3.5rem;
    position: relative;
    color: white;
	float: left;
	margin-top: 10px;
	margin-right: 300px;
	margin-left: 150px;
	font-size: 40px;
}

.btn {
	display: inline-block;
	border-radius: 8px;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid yellowgreen;
	font-size: 2rem;
	margin-top: 120px;
    margin-right: 300px;
	transition: 0.6s ease;
	transition-property: background-color, color;
	margin-left: 150px;
}
.btn:hover {
	color: black;
	background-color: yellowgreen;
}
/*end top*/

/*start service
#service{
    background: linear-gradient(60deg, #cfffd6 0%, #deff68 100%);;
} */
#service .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#service .section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
}
#service .service-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 600;
}
#service .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#service .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
	background-image:linear-gradient(rgba(0, 0, 0, 0.01),rgba(0, 0, 0, 0.1)), url(img/images\ \(1\).jpeg);
    background-size: cover;
    margin: 10px 5%;
	width: 400px;
	height: 150px;
	
}
#service .service-item p{
	font-weight: 600;
}
/*end service*/

/*start blog
#blog{
	background: linear-gradient(60deg, #cfffd6 0%, #deff68 100%);;
}*/
#blog .blog{
    flex-direction: column;
    max-width: 120px;
    margin: 0 auto;
    padding: 100px 0;
}
#blog .blog-header h1{
    margin-bottom: 50px;
}
#blog .all-blog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#blog .blog-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
    overflow: hidden;
    border-radius: 10px;
}
#blog .blog-info{
    padding: 30px;
    flex-basis: 50%;
    height: 700px;
	width: 500px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
    background-image: linear-gradient(60deg, #296d33 0%, #79cf17 100%); 
	color: white;
}
#blog .blog-info h1 {
	font-size: 4rem;
	font-weight: 500;
	text-align: center;
}
#blog .blog-info p {
	color: white;
	font-weight: 400;
}
#blog .blog-img {
	flex-basis: 50%;
	height: 700px;
    width: 600px;
	overflow: hidden;
	position: relative;
}
#blog .blog-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0.7;
}
#blog .blog-img img {
	transition: 0.3s ease transform;
}
#blog .blog-item:hover .blog-img img {
	transform: scale(1.1);
}
.btn2 {

  background:linear-gradient(60deg, #296d33 0%, #79cf17 100%);
  color: white;
  padding: 20px;		
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 45%;
  border-radius:100px;
}
.btn2:hover {
	color:#000000;
	background-color: #79cf17  ;
}
/*end blog*/

/*start about*/
/*#about{
	background: linear-gradient(60deg, #cfffd6 0%, #deff68 100%);;
}*/
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 	 20px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 1000;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
	text-align: center;
}
#about .col-right p {
	margin-bottom: 20px;
	text-align: center;
	font-weight: 600;	
}
/*end about*/

/*start contact
#contact{
	background: linear-gradient(60deg, #cfffd6 0%, #deff6856 100%);;
}*/
#contact .contact{
    flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 600;
	text-align: center;
}
#contact .contact-items {
	max-width: 400px;
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*end contact*/

/*start message box*/
/*#msg{
	background: linear-gradient(60deg, #2aff4a 0%, #ecff839c 100%);
}*/
#mgs .container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

#msg .container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: -1;
}
#msg .contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

#msg .left{
	background: url("contact.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

#msg .right{
	padding: 25px 40px;
}

#msg h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

#msg h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
}

#msg .field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

#msg .field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

#msg textarea{
	min-height: 150px;
}

#msg .btn3{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

#msg .btn3:hover{
    background-color: #27ae60;
}

#msg .field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}
/*end message box*/

/*start footer*/
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer .brand h1{
    color: white;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/*end footer*/

/*start media querie*/
@media only screen and (min-width: 880px){
    #blog .blog-item {
		flex-direction: row;
	}
	#blog .blog-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#blog .blog-item {
		height: 500px;
		margin: 0;
		width: 1200px;
		border-radius: 0;
	}
	#blog .all-blog .blog-info {
		height: 100%;
	}
	#blog .all-blog .blog-img {
		height: 100%;
	}

	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgb(2, 73, 26);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: center;
	}

}

@media only screen and (max-width: 880px) {
	#msg .contact-box{
		grid-template-columns: 1fr;
	}
	#msg .left{
		height: 200px;
	}
}


@media only screen and (min-width: 1200px) {
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/*end media querie*/

.bc-vdio{
	position: absolute;
	width: 100%;
	bottom:0;
	z-index: -1;
}
#imgimgimg{
	width: 70px;
	height: 70px;
	
}
@media only screen and (min-width: 880px) {
	.bc-vdio{
		width: 100%;
		height: auto;
	}
}
@media only screen and (max-width: 880px){
	.bc-vdio{
		width: auto;
		height: 100%;
	}
}